<form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  <p style="color: red"><%=message %></p>
    <button type="submit">Login</button>
  </form>